fieldset {
  border: 0px;
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#demo-data {
  display: none;
}

.form-options {
  display: flex;
  justify-content: space-between;
  flex-direction: rows;
  width: 90%;
}

.circos-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download button {
  width: 50%;
}

.toggle {
  margin: 10px;
  width: 50px;
  height: 50px;
}

.toggle i {
  border-radius: 3px;
  	cursor: pointer;
    color: #FF5733;
    background-color: #900C3F;
    padding: 10px;
}

.all-forms {
  display: none;
}

.instruction-container {
  display: none;
}

.form-tab {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.heatmap-tab {
  flex: 1;
}

#chart {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

#loaded {
  display: none;
}
