fieldset {
  border: 0px;
  padding: 0;
  margin: 0;
}

.circos-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.forms-container {
  display: flex;
  flex-direction: row;
}

.form-tab {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.heatmap-tab {
  flex: 1;
}

#chart {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

#loaded {
  display: none;
}
